<template>
  <div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">MAPALA WMDK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/logistik/divisi/read">Divisi <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logistik/alat/read">Alat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logistik/anggota/read">Peminjam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/laporan">Laporan Peminjaman</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="card mt-2">
      <div class="card-header">
        <span class="my-auto">Update Data Divisi</span>
      </div>
      <div class="card-body">
        <form action method="post" v-on:submit.prevent="updateDivisi">
          <div class="row">
            <div class="col-md-6">
              <label for="nama_divisi">Nama Divisi</label>
              <input
                type="text"
                class="form-control"
                name="nama_divisi"
                id="nama_divisi"
                v-model="nama"
                value="this.$route.params.id_divisi"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" name value="Simpan" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      form: {
        nama_divisi: ""
      },
      nama: this.$route.params.nama
    };
  },
  methods: {
    updateDivisi() {
      let data = JSON.stringify({
        id_divisi: this.$route.params.id_divisi,
        nama_divisi: this.nama
      });
      axios
        .post("https://management.masuk.id/mapalabe/apiDivisi/update.php", data, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(async res => {
          const data = await res;
          if (data.status == 200) {
            alert("Data Berhasil Update");
            this.$router.push("read");
          }
        })
        .catch(err => {
          alert("Data Gagal Dikirim");
          console.log(err);
        });
    }
  }
};
</script>

<style lang="stylus" scoped></style>