<template>
  <div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">MAPALA WMDK</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/logistik/divisi/read">
              Divisi
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logistik/alat/read">Alat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logistik/anggota/read">Peminjam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/laporan">Laporan Peminjaman Alat</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="card mt-2">
      <div class="card-body">
        <p>
          Selamat Datang Di Aplikasi Pengelolaan Alat Ukm
          <b>MAPALA</b>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>