<template>
  <div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">MAPALA WMDK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/laporan">Laporan Peminjaman</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="card mt-2">
      <div class="card-body">
        <form action method="post" v-on:submit.prevent="onSubmit">
          <div class="row">
            <div class="col-md-6">
              <label for="nama">Nama Pinjam</label>
              <input type="text" v-model="form.nama" class="form-control" name="nama" id="nama" />
            </div>
            <div class="col-md-6">
              <label for="jumlah">Jumlah</label>
              <input
                type="number"
                v-model="form.jumlah"
                class="form-control"
                name="jumlah"
                id="jumlah"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" name value="Simpan"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        nama: "",
        jumlah: ""
      },
      id: this.$route.params.id_alat,
    //   nama: this.$route.params.nama,
      jumlah: this.$route.params.jumlah,
      kategori: this.$route.params.kategori,
      deskripsi: this.$route.params.deskripsi
    };
  },
  methods: {
    onSubmit() {
    console.log(this.id)
      let data = JSON.stringify({
        id_brg: this.id,
        nama: this.form.nama,
        jumlah: this.form.jumlah,
      });
      axios
        .post("https://management.masuk.id/mapalabe/apiAlat/proses-pinjam.php", data)
        .then(async res => {
          const data = await res;
          if (data.status == 200) {
            alert("Data Berhasil Dikirim");
            this.$router.push("read");
          }
        })
        .catch(err => {
          alert(err.response.data.message);
          // console.log(err);
        });
    }
  }
};
</script>

<style lang="stylus" scoped></style>